.authors {
  margin-bottom:30px;

  &:last-child {
    margin-bottom: 0;
  }

  @include xs-block {
    margin-bottom: 20px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    grid-auto-rows: 424px;

    @include xs-block {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }

  .news-banner--wide {
    @include xs-block {
      margin-bottom: 15px;
    }
  }

  .news-banner--colored {

    @include xs-block {
      margin-top: 15px;
    }
  }
}

.author-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  border-radius: 18px;
  overflow: hidden;
  background-color: #fff;

  @include xs-block {

    & + & {
      margin-top: 15px;
    }

    display: flex;
    flex-direction: column;
    gap: 0;
  }

  &__media {


    @include xs-block {
      max-height: 260px;
      height: 260px;
    }
  }

  &__picture {
    display: block;
    height: 100%;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__meta {
    font-size: 16px;
    color: var(--dark);
    line-height: 130%;
    letter-spacing: 0;
    margin-bottom: 18px;

    @include xs-block {
      font-size: 14px;
      line-height: 145%;
      margin-bottom: 8px;
    }
  }

  &__date {
    position: relative;
    padding-right: 15px;
    margin-right: 8px;
    display: inline-block;
    opacity: .5;

    &::before {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      content: "";
      height: 4px;
      width: 4px;
      background-color: var(--dark);
      border-radius: 100%;
    }
  }

  &__name {
    display: inline-block;
    transition: all .4s ease;
    opacity: .5;

    &:hover {
      color: var(--purple);
      text-decoration: underline;
      text-underline-offset: 4px;
      opacity: 1;
      transform: translateY(1.5px);
    }
  }

  &__title {
    font-size: 30px;
    font-family: var(--ff-title);
    line-height: 120%;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 15px;
    transition: all .3s ease;
    word-break: break-all;

    &:hover {
      opacity: .74;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0;
    transition: all .3s ease;

    @include xs-block {
      font-size: 16px;
    }

    &:hover {
      opacity: .7;
    }
  }

  &__footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include xs-block {
      margin-top: 30px;
      justify-content: space-between;
      width: 100%;
      height: 28px;
    }
  }

  &__readmore {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    line-height: 120%;
    font-family: var(--ff-gilroy);
    font-weight: 500;
    letter-spacing: 0;
    transition: all .3s ease;

    @include xs-block {
      font-size: 18px;
      height: 24px;
      align-self: flex-start;
    }

    &::after {
      display: block;
      content: "";
      height: 20.24px;
      width: 20.24px;
      border-radius: 7.12px;
      background-color: var(--dark);
      background-image: url("../images/icons/white-right-arrow.svg");
      background-position: center center;
      background-repeat: no-repeat;
      margin-left: 12.57px;
      transition: all 0.3s ease;
    }

    &:hover {
      color: var(--purple);

      &::after {
        background-color: var(--purple);
      }
    }
  }

  &__time {
    font-size: 14px;
    color: #AEAEAE;
    display: inline-block;
    position: relative;
    padding-left: 23px;
    margin-left: 87px;

    @include xs-block {
      margin-left: auto;
      line-height: 145%;
      display: flex;
      align-items: center;
      height: 28px;
    }

    &:before {
      position: absolute;
      display: block;
      content: '';
      height: 16px;
      width: 16px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../images/icons/clock.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &__comments {
    font-size: 14px;
    color: #AEAEAE;
    display: inline-block;
    position: relative;
    margin-left: 12px;

    @include xs-block {
      line-height: 145%;
      height: 24px;
      display: flex;
      align-items: center;
    }

    &:hover {
      color: var(--purple);

      svg path {
        stroke: var(--purple);
      }
    }

    &-icon {
      display: inline-block;
      vertical-align: middle;
      margin-top: 1px;
      margin-right: 3px;
      width: 24px;
      height: 24px;

      svg path {
        transition: all .3s ease;
      }
    }


    // &::before {
    //   position: absolute;
    //   display: block;
    //   content: '';
    //   height: 21px;
    //   width: 21px;
    //   left: 0;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   background-image: url("../images/icons/comments-gray.svg");
    //   background-repeat: no-repeat;
    //   background-position: center center;
    // }
  }


  &__body {
    padding-top: 40px;
    padding-bottom: 47px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;


    @include xs-block {
      padding: 20px 15px 20px 15px;
    }
  }
}
