.categories-news {
  margin-bottom: 30px;

  overflow: hidden;

  &__overflow {
    //overflow: hidden;
    position: relative;
  }


  .swiper {
    //overflow: visible;

    &-wrapper {
      height: auto;
    }


    &-slide {
      height: auto;
    }
  }

  .swiper-button-next {
    right: 0;
    transform: translateX(50%);
  }

  .swiper-button-prev {
    left: 0;
    transform: translateX(-50%);
  }
}

.categories-news-card {
  min-height: 402px;
  height: 100%;
  max-width: 375px;
  border-radius: 18px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all .3s ease;
  padding-bottom: 33px;

  &:hover {
    //box-shadow: 10px 10px 50px 0 rgba($color: #555769, $alpha: 0.15);
  }


  &__media {
    height: 200px;
  }

  &__picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__body {
    padding: 40px 30px 20px 30px;


    .news-title-h2 {
      margin-bottom: 20px;
      word-break: break-all;
    }
  }

  &__meta {
    font-size: 16px;
    line-height: 145%;
    color: var(--dark);
    letter-spacing: 0;
  }

  &__date {
    opacity: .5;
    position: relative;
    display: inline-block;
    margin-right: 8px;
    padding-right: 11px;

    &::before {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      content: '';
      height: 4px;
      width: 4px;
      background-color: var(--dark);
      border-radius: 100%;
    }
  }

  &__category {
    display: inline-block;
    transition: all .3s ease;
    opacity: .5;

    &:hover {
      color: var(--purple);
      text-decoration: underline;
      text-underline-offset: 4px;
      opacity: 1;
      transform: translateY(2px);
    }

    &-link {
      margin-top: auto;
      color: var(--purple);
      display: block;
      padding: 0 30px 0px 30px;
      letter-spacing: 0;
      line-height: 120%;
      font-size: 20px;
      font-family: var(--ff-gilroy);
      font-weight: 500;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--dark);
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0;
    margin-top: 10px;
    display: block;
    width: 100%;
    transition: all .3s ease;

    &:hover {
      opacity: .7;
    }
  }

  &__comments {
    display: inline-block;
    margin-top: 10px;
    color: #aeaeae;
    font-size: 14px;
    line-height: 145%;
    letter-spacing: -0.01em;
    transition: all .3s ease;
    height: 24px;

    &:hover {
      color: var(--purple);

      svg path {
        stroke: var(--purple);
      }
    }

    &-icon {
      display: inline-block;
      vertical-align: middle;
      margin-top: 1px;
      margin-right: 3px;
      width: 24px;
      height: 24px
    }

    svg path {
      transition: all .3s ease;
    }
  }

  &__list {
    list-style: none;
    margin-bottom: 32px;
  }

  &__item {
    padding: 19px 30px 0px 30px;
    margin-bottom: 20px;
    border-top: 1px solid #E7EBEF;
    line-height: 120%;
    font-size: 20px;
    cursor: pointer;
    box-sizing: border-box;
    letter-spacing: 0;

    &:last-child {
      margin-bottom: 0;
    }

    &-link {
      transition: all .3s ease;
      &:hover {
        opacity: .7;
      }
    }
  }
}
