.courses {
  margin-bottom: 30px;


  @include xs-block {
    background-color: #fff;
    margin-bottom: 20px;
    overflow: hidden;
  }


  &::before {
    display: block;
    content: '';

  }
  &__wrapper {
    padding: 60px 50px;
    background-color: #fff;
    border-radius: 18px;
    overflow: hidden;

    @include xs-block {
      padding: 20px 0;
      overflow: visible;
    }
  }

  &__overflow {
    //overflow: hidden;
  }

  &__header {
    color: var(--dark);
    font-family: var(--ff-title);
    font-size: 30px;
    line-height: 120%;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 33.5px;
    display: inline-block;


    @include xs-block {
      margin-bottom: 15px;
    }
  }

  .swiper {
    overflow: visible;

    &-slide {
      width: 375px;

      @include xs-block {
        max-width: 240px;
      }
    }

    &-scrollbar {
      bottom: -20px;
      background-color: transparent;
      height: 3px;

      &-drag {
        background-color: #d0d0d0;
        border-radius: 0;
      }
    }
  }

  .swiper-button-next, .swiper-button-prev {
    top: -48px;
  }

  .swiper-button-next {
    right: 0;
    left: auto;
  }
  .swiper-button-prev {
    right: 57px;
    left: auto;
  }
}

.course {
  //min-height: 402px;
  max-width: 375px;
  //border-radius: 18px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all .3s ease;

  &:hover {
    //box-shadow: 10px 10px 50px 0 rgba($color: #555769, $alpha: 0.15);
  }


  &__media {
    height: 200px;

    @include xs-block {
      max-height: 158px;
      height: 158px;
    }
  }

  &__picture {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    overflow: hidden;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__body {
    padding: 0;
    margin-top: 10px;
  }

  &__meta {
    font-size: 16px;
    line-height: 145%;
    color: var(--dark);
    letter-spacing: 0;

    @include xs-block {
      font-size: 14px;
    }
  }

  &__date {
    opacity: .5;
    position: relative;
    display: inline-block;
    margin-right: 8px;
      padding-right: 11px;

    &::before {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      content: '';
      height: 4px;
      width: 4px;
      background-color: var(--dark);
      border-radius: 100%;
    }
  }

  &__category {
    display: inline-block;
    transition: all .3s ease;
    opacity: .5;

    &:hover {
      color: var(--purple);
      text-decoration: underline;
      text-underline-offset: 4px;
      opacity: 1;
      //transform: translateY(2px);
    }
  }

  &__link {
    text-decoration: none;
    color: var(--dark);
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0;
    margin-top: 10px;
    display: block;
    width: 100%;
    transition: all .3s ease;

    @include xs-block {
      margin-top: 8px;
      font-size: 16px;
      line-height: 130%;
    }

    &:hover {
      opacity: .7;
    }
  }

  &__comments {
    display: inline-block;
    margin-top: 10px;
    color: #aeaeae;
    font-size: 14px;
    line-height: 145%;
    letter-spacing: -0.01em;
    transition: all .3s ease;
    height: 24px;

    &:hover {
      color: var(--purple);

      svg path {
        stroke: var(--purple);
      }
    }

    &-icon {
      display: inline-block;
      vertical-align: middle;
      margin-top: 1px;
      margin-right: 3px;
      width: 24px;
      height: 24px
    }

    svg path {
      transition: all .3s ease;
    }
  }
}
