.news-footer {
  padding-top: 50px;
  padding-bottom: 36px;
  background-color: #151515;
  color: #fff;
  font-size: 18px;
  line-height: 130%;

  @include xs-block {
    padding-top: 35px;
  }

  .container {

  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    height: auto;

    @include xs-block {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0;
    width: 30%;

    @include xs-block {
      width: 100%;
      align-items: center;
      order: 1;
    }
  }

  &__logo {
    margin-bottom: 10px;

    @include xs-block {
      margin-bottom: 10px;
    }
  }

  &__copyrights {
    width: 170px;
    margin-bottom: 15px;
    letter-spacing: -0.02em;

    @include xs-block {
      font-size: 14px;
      line-height: 22px;
      text-align: center;
    }
  }

  &__license {
    width: 230px;
    letter-spacing: -0.02em;

    @include xs-block {
      text-align: center;
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    justify-self: center;
    padding-top: 11px;

    @include xs-block {
      width: 100%;
      order: 3;
      padding-top: 0;
      margin-top: 24px;
    }
  }

  &__menu {
    margin-bottom: 36px;

    @include xs-block {
      margin-bottom: 22px;
    }

    &-list {
      list-style: none;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: -0.02em;

      @include xs-block {
        flex-direction: column;
        align-items: center;
        align-items: center;
      }
    }

    &-item {
      margin: 0 10px 0 11px;

      @include xs-block {
        font-size: 16px;
        line-height: 100%;
        margin: 0 0 20px 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-link {
      text-decoration: underline;
      text-underline-offset: 5px;
      color: #fff;

      @include xs-block {
        text-underline-offset: 3px;
      }
    }
  }

  &__info {
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.02em;
    margin-bottom: 30px;
    width: 314px;
    text-align: center;

    @include xs-block {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 19px;
    }
  }

  &__policies {
    font-size: 16px;
    line-height: 130%;
    width: 314px;
    text-align: center;
    text-decoration: none;
    text-underline-offset: 5px;
    color: #fff;
    letter-spacing: -0.02em;

    & + & {
      margin-top: 7px;
    }

    &:hover {
      text-decoration: underline;
    }

    @include xs-block {
      font-size: 14px;
      line-height: 22px;
    }
  }



  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 30%;

    @include xs-block {
      width: 100%;
      order: 2;
      align-items: center;
      margin-top: 24px;
    }
  }

  &__makecall {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 17px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.02em;
    border-radius: 300px;
    background-color: var(--yellow);
    transition: all .3s ease;
    margin-bottom: 15px;
    margin-top: 2px;

    @include xs-block {
      margin-top: 0;
      padding: 13px 17px;
      margin-bottom: 10px;
    }

    &:hover {
      background-color: #F8B12D;
    }

    svg {
      margin-right: 5px;
    }

    &-text {
      margin-bottom: 15px;

      @include xs-block {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 10px;
      }
    }
  }

  &__mailto {
    color: #fff;
    margin-bottom: 5px;

    @include xs-block {
      font-size: 14px;
      line-height: 22px;
    }


    &:hover {
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }



  &__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 31px;

    @include xs-block {
      flex-direction: column;
      order: 4;
      margin-top: 21px;
    }
  }

  &__coding {
    line-height: 120%;
    letter-spacing: -0.02em;
    opacity: .5;
    width: 30%;
    text-align: right;
    margin-top: 15px;

    @include xs-block {
      order: 3;
      font-size: 14px;
      width: 100%;
      text-align: center;
    }

    &-link {
      color: #fff;
      text-decoration: underline;
      text-underline-offset: 5px;

      @include xs-block {
        text-underline-offset: 3px;
      }
    }
  }

  &__socials {

    &-list {
      list-style: none;
      display: flex;
      align-items: flex-start;
      justify-content: center;

      @include xs-block {
        order: 1;
      }
    }

    &-item {
      margin: 0 12px 0 14px;
    }

    &-link {
      display: block;
      height: 44px;
      width: 44px;
      border-radius: 100%;
      background-color: #fff;
      overflow: hidden;
      position: relative;

      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__designer {
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.02em;
    opacity: .5;
    width: 30%;
    margin-top: 15px;

    @include xs-block {
      order: 2;
      font-size: 14px;
      width: 100%;
      text-align: center;
      margin-top: 22px;
    }

    &-link {
      text-decoration: underline;
      text-underline-offset: 4px;
      color: #fff;

      @include xs-block {
        text-underline-offset: 3px;
      }
    }
  }
}
