.vacancies {
  margin-bottom: 30px;
  overflow: hidden;

  @include xs-block {
    background-color: #fff;
    margin-bottom: 20px;
  }


  &::before {
    display: block;
    content: '';

  }
  &__wrapper {
    padding: 60px 50px;
    background-color: #fff;
    border-radius: 18px;
    overflow: hidden;

    @include xs-block {
      padding: 20px 0;
      overflow: visible;
    }
  }

  &__overflow {
    overflow: hidden;

    @include xs-block {
      overflow: visible;
    }
  }

  &__header {
    color: var(--dark);
    font-family: var(--ff-title);
    font-size: 30px;
    line-height: 120%;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 33.5px;
    display: inline-block;

    @include xs-block {
      margin-bottom: 15px;
    }
  }

  .swiper {
    overflow: visible;

    &-slide {

      @include xs-block {
        max-width: 240px;
      }
    }

    &-scrollbar {
      bottom: -20px;
      background-color: transparent;
      height: 3px;

      &-drag {
        background-color: #d0d0d0;
        border-radius: 0;
      }
    }
  }

  .swiper-button-next, .swiper-button-prev {
    top: -48px;
  }

  .swiper-button-next {
    right: 0;
    left: auto;
  }
  .swiper-button-prev {
    right: 57px;
    left: auto;
  }
}

.vacancy {
  max-width: 350px;
  min-height: 420px;
  border: 1px solid #dedede;
  border-radius: 17px;
  overflow: hidden;
  padding: 30px;
  color: var(--dark);
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: all .3s ease;
  //position: relative;


  @include xs-block {
    padding: 19px;
    height: 384px;
    min-height: 0;
    border-radius: 14px;
  }


  // &__overlay {
  //   position: absolute;
  //   transition: all .3s ease;
  //   height: 100%;
  //   width: 100%;
  //   left: 0;
  //   top: 0;
  //   z-index: -1;


  //   &::before {
  //     display: block;
  //     content: '';
  //     position: absolute;
  //     border-radius: 100%;
  //     background-color: #D79F37;
  //     transition: all .6s linear;
  //     height: 5px;
  //     width: 5px;
  //     right: 20px;
  //     bottom: -20px;
  //   }
  // }



  &:hover {

    background-color: var(--yellow);
    transform: translateY(-2px);
    // .vacancy__overlay {
    //   background-color: var(--yellow);

      // &:before {
      //   transform: translate(-150px, -230px) scale(120);
      // }
    //}
  }

  &__organization {
    font-size: 18px;
    line-height: 130%;
    margin-top: 13px;

    @include xs-block {
      font-size: 16px;
      margin-top: 14px;
    }
  }

  &__geo {
    font-size: 16px;
    line-height: 145%;
    opacity: .5;
    margin-top: 14px;

    @include xs-block {
      font-size: 14px;
      nargin-top: 15px;
    }

    &-icon {
      height: 14px;
      width: 14px;
      vertical-align: middle;
      margin-right: 2px;
    }
  }

  &__position {
    font-size: 25px;
    line-height: 120%;
    font-family: var(--ff-title);
    font-weight: 700;
    margin-top: 27px;

    @include xs-block {
      font-size: 30px;
      margin-top: 31px;
    }
  }

  &__level {
    font-size: 18px;
    line-height: 130%;
    margin-top: 10px;

    @include xs-block {
      font-size: 16px;
    }
  }

  &__salary {
    color: #222;
    font-size: 25px;
    line-height: 120%;
    font-family: var(--ff-title);
    font-weight: 700;
    margin-top: auto;

    @include xs-block {
      font-size: 30px;
    }
  }
}
