section.authors
  .container
    .banner.banner--wide
      a(href="#").banner__link
        img(src="images/wide-banner-1.png").banner__image
    .author-card
      .author-card__media
        picture.author-card__picture
          img.author-card__img(src="images/authors/1.jpg")
      .author-card__body
        .author-card__meta
          span.author-card__date 08.02
          span.author-card__name Роман Голованов
        // TODO Уточнить наличие ссылок
        h2.author-card__title Анимразбор: Как анимирует Аарон Блейз
        p.author-card__text В ответ на растущий спрос на специалистов в области анимации, учебные заведения разрабатывают все более ...
        .author-card__footer
          a(href="#").author-card__readmore Читать
          span.author-card__time 14 мин
          span.author-card__comments 125
    .author-card
      .author-card__media
        picture.author-card__picture
          img.author-card__img(src="images/authors/2.jpg")
      .author-card__body
        .author-card__meta
          span.author-card__date 08.02
          span.author-card__name Анастасия Рудкевич
        // TODO Уточнить наличие ссылок
        h2.author-card__title Анимразбор:Геннди Тартаковски
        p.author-card__text В ответ на растущий спрос на специалистов в области анимации, учебные заведения разрабатывают все более ...
        .author-card__footer
          a(href="#").author-card__readmore Читать
          span.author-card__time 14 мин
          span.author-card__comments 125
    .author-card
      .author-card__media
        picture.author-card__picture
          img.author-card__img(src="images/authors/3.jpg")
      .author-card__body
        .author-card__meta
          span.author-card__date 08.02
          span.author-card__name Виталий Освик
        // TODO Уточнить наличие ссылок
        h2.author-card__title Как создаются 3D мультфильмы
        p.author-card__text В ответ на растущий спрос на специалистов в области анимации, учебные заведения разрабатывают все более ...
        .author-card__footer
          a(href="#").author-card__readmore Читать
          span.author-card__time 14 мин
          span.author-card__comments 125
