// TODO Переименовать класс
section.categories-news
  .container
    .categories-news__overflow
      .swiper.categories-news__slider.js-categories-news-slider
        .swiper-wrapper
          .swiper-slide
            .categories-news-card
              .categories-news-card__media
                picture.categories-news-card__picture
                  img.categories-news-card__image(src="images/categories/1.jpg" alt="Что такое Культ? И как его создать сценаристу в своей истории?")
              .categories-news-card__body
                h2.news-title-h2 2D и анимация
                .categories-news-card__meta
                  span.categories-news-card__date 08.02
                  a(href="#").categories-news-card__category 2D и анимация
                a(href="#").categories-news-card__link В ответ на растущий спрос на специалистов в области анимации, учебные заведения разрабатывают все более ...
                a(href="#").categories-news-card__comments
                  i.categories-news-card__comments-icon
                    include ../../images/icons/comments-gray.svg
                  | 125
              ul.categories-news-card__list
                li.categories-news-card__item
                  a(href="#").categories-news-card__item-link Новая волна анимации: как технологии меняют мир мультфильмов
                li.categories-news-card__item
                  a(href="#").categories-news-card__item-link Новая волна анимации: как технологии меняют мир мультфильмов
                li.categories-news-card__item
                  a(href="#").categories-news-card__item-link Новая волна анимации: как технологии меняют мир мультфильмов
              a(href="#").categories-news-card__category-link Перейти в категорию


          .swiper-slide
            .categories-news-card
              .categories-news-card__media
                picture.categories-news-card__picture
                  img.categories-news-card__image(src="images/categories/2.jpg" alt="Что такое Культ? И как его создать сценаристу в своей истории?")
              .categories-news-card__body
                h2.news-title-h2 3D и анимация
                .categories-news-card__meta
                  span.categories-news-card__date 08.02
                  a(href="#").categories-news-card__category 3D и анимация
                a(href="#").categories-news-card__link В ответ на растущий спрос на специалистов в области анимации, учебные заведения разрабатывают все более ...
                a(href="#").categories-news-card__comments
                  i.categories-news-card__comments-icon
                    include ../../images/icons/comments-gray.svg
                  | 110
              ul.categories-news-card__list
                li.categories-news-card__item
                  a(href="#").categories-news-card__item-link Новая волна анимации: как технологии меняют мир мультфильмов
                li.categories-news-card__item
                  a(href="#").categories-news-card__item-link Новая волна анимации: как технологии меняют мир мультфильмов
                li.categories-news-card__item
                  a(href="#").categories-news-card__item-link Новая волна анимации: как технологии меняют мир мультфильмов
              a(href="#").categories-news-card__category-link Перейти в категорию

          .swiper-slide
            .categories-news-card
              .categories-news-card__media
                picture.categories-news-card__picture
                  img.categories-news-card__image(src="images/categories/3.jpg" alt="Что такое Культ? И как его создать сценаристу в своей истории?")
              .categories-news-card__body
                h2.news-title-h2 Сценаристика
                .categories-news-card__meta
                  span.categories-news-card__date 14.01
                  a(href="#").categories-news-card__category Сценаристика
                a(href="#").categories-news-card__link В ответ на растущий спрос на специалистов в области анимации, учебные заведения разрабатывают все более ...
                a(href="#").categories-news-card__comments
                  i.categories-news-card__comments-icon
                    include ../../images/icons/comments-gray.svg
                  | 125
              ul.categories-news-card__list
                li.categories-news-card__item
                  a(href="#").categories-news-card__item-link Новая волна анимации: как технологии меняют мир мультфильмов
                li.categories-news-card__item
                  a(href="#").categories-news-card__item-link Новая волна анимации: как технологии меняют мир мультфильмов
                li.categories-news-card__item
                  a(href="#").categories-news-card__item-link Новая волна анимации: как технологии меняют мир мультфильмов
              a(href="#").categories-news-card__category-link Перейти в категорию

          .swiper-slide
            .categories-news-card
              .categories-news-card__media
                picture.categories-news-card__picture
                  img.categories-news-card__image(src="images/categories/4.jpg" alt="Что такое Культ? И как его создать сценаристу в своей истории?")
              .categories-news-card__body
                h2.news-title-h2 Программирование
                .categories-news-card__meta
                  span.categories-news-card__date 14.01
                  a(href="#").categories-news-card__category Программирование
                a(href="#").categories-news-card__link В ответ на растущий спрос на специалистов в области анимации, учебные заведения разрабатывают все более ...
                a(href="#").categories-news-card__comments
                  i.categories-news-card__comments-icon
                    include ../../images/icons/comments-gray.svg
                  | 125
              ul.categories-news-card__list
                li.categories-news-card__item
                  a(href="#").categories-news-card__item-link Новая волна анимации: как технологии меняют мир мультфильмов
                li.categories-news-card__item
                  a(href="#").categories-news-card__item-link Новая волна анимации: как технологии меняют мир мультфильмов
                li.categories-news-card__item
                  a(href="#").categories-news-card__item-link Новая волна анимации: как технологии меняют мир мультфильмов
              a(href="#").categories-news-card__category-link Перейти в категорию

          .swiper-slide
            .categories-news-card
              .categories-news-card__media
                picture.categories-news-card__picture
                  img.categories-news-card__image(src="images/categories/1.jpg" alt="Что такое Культ? И как его создать сценаристу в своей истории?")
              .categories-news-card__body
                h2.news-title-h2 2D и анимация
                .categories-news-card__meta
                  span.categories-news-card__date 14.01
                  a(href="#").categories-news-card__category 2D и анимация
                a(href="#").categories-news-card__link В ответ на растущий спрос на специалистов в области анимации, учебные заведения разрабатывают все более ...
                a(href="#").categories-news-card__comments
                  i.categories-news-card__comments-icon
                    include ../../images/icons/comments-gray.svg
                  | 125
              ul.categories-news-card__list
                li.categories-news-card__item
                  a(href="#").categories-news-card__item-link Новая волна анимации: как технологии меняют мир мультфильмов
                li.categories-news-card__item
                  a(href="#").categories-news-card__item-link Новая волна анимации: как технологии меняют мир мультфильмов
                li.categories-news-card__item
                  a(href="#").categories-news-card__item-link Новая волна анимации: как технологии меняют мир мультфильмов
              a(href="#").categories-news-card__category-link Перейти в категорию

      .swiper-button-next.medium-slider-button.medium-slider-button--right.js-categories-news__slider-next
      .swiper-button-prev.medium-slider-button.medium-slider-button--left.js-categories-news__slider-prev
