section.courses
  .container
    .courses__wrapper
      .courses__overflow
        .courses__header Курсы
        .swiper.courses__slider.js-courses-slider
            .swiper-wrapper
              .swiper-slide
                .course
                  .course__media
                    picture.course__picture
                      img.course__image(src="images/courses/1.jpg" alt="2D эффекты в анимации")
                  .course__body
                    //- .course__meta
                    //-   span.course__date 08.02
                    //-   a(href="#").course__category Анимация
                    a(href="#").course__link 2D эффекты в анимации
                    //- a(href="#").course__comments
                    //-   i.course__comments-icon
                    //-     include ../../images/icons/comments-gray.svg
                    //-   | 125

              .swiper-slide
                .course
                  .course__media
                    picture.course__picture
                      img.course__image(src="images/courses/2.jpg" alt="Базовый курс по раскадровке и режиссуре")
                  .course__body
                    //- .course__meta
                    //-   span.course__date 08.02
                    //-   a(href="#").course__category Анимация
                    a(href="#").course__link Базовый курс по раскадровке и режиссуре
                    //- a(href="#").course__comments
                    //-   i.course__comments-icon
                    //-     include ../../images/icons/comments-gray.svg
                    //-   | 125
              .swiper-slide
                .course
                  .course__media
                    picture.course__picture
                      img.course__image(src="images/courses/3.jpg" alt="Blender: 3D с нуля")
                  .course__body
                    //- .course__meta
                    //-   span.course__date 08.02
                    //-   a(href="#").course__category Анимация
                    a(href="#").course__link Blender: 3D с нуля
                    //- a(href="#").course__comments
                    //-   i.course__comments-icon
                    //-     include ../../images/icons/comments-gray.svg
                    //-   | 125
              .swiper-slide
                .course
                  .course__media
                    picture.course__picture
                      img.course__image(src="images/courses/4.jpg" alt="2D риг в Toon Boom Harmony")
                  .course__body
                    //- .course__meta
                    //-   span.course__date 08.02
                    //-   a(href="#").course__category Анимация
                    a(href="#").course__link 2D риг в Toon Boom Harmony
                    //- a(href="#").course__comments
                    //-   i.course__comments-icon
                    //-     include ../../images/icons/comments-gray.svg
                    //-   | 125
              .swiper-slide
                .course
                  .course__media
                    picture.course__picture
                      img.course__image(src="images/courses/1.jpg" alt="2D эффекты в анимации")
                  .course__body
                    //- .course__meta
                    //-   span.course__date 08.02
                    //-   a(href="#").course__category Анимация
                    a(href="#").course__link 2D эффекты в анимации
                    //- a(href="#").course__comments
                    //-   i.course__comments-icon
                    //-     include ../../images/icons/comments-gray.svg
                    //-   | 125

            .swiper-button-next.small-slider-button.small-slider-button--right.js-courses__slider-next
            .swiper-button-prev.small-slider-button.small-slider-button--left.js-courses__slider-prev
            .swiper-scrollbar.js-courses__slider-scrollbar
