header.header
  .container
    .header__wrapper.js-fixed-header
      a(href="#").header__logo
        include ../../images/icons/header-logo.svg

      .header__menu-wrapper.js-mobile-menu
        nav.header__nav
          ul.menu
            li.menu-item.menu-item-has-children
              a(href="#") Рубрики
              ul.sub-menu
                li.menu-item
                  a(href="#") Новости
                li.menu-item
                  a(href="#") Статьи
                li.menu-item
                  a(href="#") Подкасты
                li.menu-item
                  a(href="#") Видео
            li.menu-item.menu-item-has-children
              a(href="#") Индустрия
              ul.sub-menu
                li.menu-item
                  a(href="#") Вакансии
                li.menu-item
                  a(href="#") Студии
                li.menu-item
                  a(href="#") Персоны
                li.menu-item
                  a(href="#") Мероприятия
            li.menu-item
              a(href="#") Курсы
            li.menu-item
              a(href="#") Профессии
            li.menu-item
              a(href="#") Преподаватели
            li.menu-item
              a(href="#") Работы студентов
            li.menu-item
              a(href="#") Студии
            li.menu-item
              a(href="#") О клубе

        ul.header__socials-list
            li.header__socials-item
              a(href="#").header__socials-link
                include ../../images/icons/header-yt.svg
            li.header__socials-item
              a(href="#").header__socials-link
                include ../../images/icons/header-vk.svg
            li.header__socials-item
              a(href="#").header__socials-link
                include ../../images/icons/header-tg.svg
            li.header__socials-item
              a(href="#").header__socials-link
                include ../../images/icons/header-ds.svg

      button.header__button.js-toggle-button
        span
        span
        span

