// TODO Добавить анимации
section.horizontal-banner
  .container
    .horizontal-banner__body(style="background-image: url('../images/top-banner.jpg');")
      a(href="#" title="").button-primary.button-primary--white Забрать бесплатно
