section.last-week-news
  .container
    .last-week-news__wrapper
      .last-week-news__overflow
        .last-week-news__header Новости прошлой недели
        .swiper.last-week-news__slider.js-last-week-news-slider
            .swiper-wrapper
              .swiper-slide
                .last-week-post
                  .last-week-post__body
                    .last-week-post__meta
                      span.last-week-post__date 08.02
                      a(href="#").last-week-post__category Анимация
                    a(href="#").last-week-post__link 2D эффекты в анимации
                    a(href="#").last-week-post__comments
                      i.last-week-post__comments-icon
                        include ../../images/icons/comments-gray.svg
                      | 125
              .swiper-slide
                .last-week-post
                  .last-week-post__body
                    .last-week-post__meta
                      span.last-week-post__date 08.02
                      a(href="#").last-week-post__category Анимация
                    a(href="#").last-week-post__link В ответ на растущий спрос на специалистов в области анимации, учебные заведения разрабатывают все более ...
                    a(href="#").last-week-post__comments
                      i.last-week-post__comments-icon
                        include ../../images/icons/comments-gray.svg
                      | 125
              .swiper-slide
                .last-week-post
                  .last-week-post__body
                    .last-week-post__meta
                      span.last-week-post__date 08.02
                      a(href="#").last-week-post__category Анимация
                    a(href="#").last-week-post__link В ответ на растущий спрос на специалистов в области анимации, учебные заведения разрабатывают все более ...
                    a(href="#").last-week-post__comments
                      i.last-week-post__comments-icon
                        include ../../images/icons/comments-gray.svg
                      | 125
              .swiper-slide
                .last-week-post
                  .last-week-post__body
                    .last-week-post__meta
                      span.last-week-post__date 08.02
                      a(href="#").last-week-post__category Анимация
                    a(href="#").last-week-post__link 2D эффекты в анимации
                    a(href="#").last-week-post__comments
                      i.last-week-post__comments-icon
                        include ../../images/icons/comments-gray.svg
                      | 125
              .swiper-slide
                .last-week-post
                  .last-week-post__body
                    .last-week-post__meta
                      span.last-week-post__date 08.02
                      a(href="#").last-week-post__category Анимация
                    a(href="#").last-week-post__link В ответ на растущий спрос на специалистов в области анимации, учебные заведения разрабатывают все более ...
                    a(href="#").last-week-post__comments
                      i.last-week-post__comments-icon
                        include ../../images/icons/comments-gray.svg
                      | 125



            .swiper-button-next.small-slider-button.small-slider-button--right.js-last-week-news__slider-next
            .swiper-button-prev.small-slider-button.small-slider-button--left.js-last-week-news__slider-prev
            .swiper-scrollbar.js-last-week-news__slider-scrollbar
