section.section-news-grid.section-news-grid--2
  .container
    .section-news-grid__wrapper
      article.news-card
        .news-card__media
          a(href="#").news-card__media-link
            picture.news-card__picture
              img.news-card__image(src="images/news/2-1.jpg" alt="Новая волна анимации: как технологии меняют мир мультфильмов")
        .news-card__body
          .news-card__info
            span.news-card__date 08.01
            a(href="#").news-card__category 2D анимация
          a(href="#").news-card__link Новая волна анимации: как технологии меняют мир мультфильмов
          a(href="#").news-card__comments
            i.news-card__comments-icon
              include ../../images/icons/comments-gray.svg
            span.news-card__comments-count 125

      article.news-card
        .news-card__media
          a(href="#").news-card__media-link
            picture.news-card__picture
              img.news-card__image(src="images/news/2-2.jpg" alt="Что такое Культ? И как его создать сценаристу в своей истории?")
        .news-card__body
          .news-card__info
            span.news-card__date 08.01
            a(href="#").news-card__category Анимация
          a(href="#").news-card__link Что такое Культ? И как его создать сценаристу в своей истории?
          a(href="#").news-card__comments
            i.news-card__comments-icon
              include ../../images/icons/comments-gray.svg
            span.news-card__comments-count 125

      article.news-card
        .news-card__media
          a(href="#").news-card__media-link
            picture.news-card__picture
              img.news-card__image(src="images/news/2-3.jpg" alt="Кто такой 2D аниматор?")
        .news-card__body
          .news-card__info
            span.news-card__date 08.01
            a(href="#").news-card__category Анимация
          a(href="#").news-card__link Кто такой 2D аниматор?
          a(href="#").news-card__comments
            i.news-card__comments-icon
              include ../../images/icons/comments-gray.svg
            span.news-card__comments-count 125

      article.news-card
        .news-card__media
          a(href="#").news-card__media-link
            picture.news-card__picture
              img.news-card__image(src="images/news/2-4.jpg" alt="Как создаются 3D мультфильмы")
        .news-card__body
          .news-card__info
            span.news-card__date 08.01
            a(href="#").news-card__category Анимация
          a(href="#").news-card__link Как создаются 3D мультфильмы
          a(href="#").news-card__comments
            i.news-card__comments-icon
              include ../../images/icons/comments-gray.svg
            span.news-card__comments-count 125

      .news-banner.news-banner--vertical
        a(href="#").news-banner__link
          img.news-banner__image(src="images/vertical-banner-1.png")


      .news-vertical
        .news-vertical__header Возможно вас заинтересует
        ul.news-vertical__list
          li.news-vertical__item
            .news-card__meta
              span.news-card__date 21.01
              a(href="#").news-card__category Виталий Макаренко
            a(href="#").news-card__link Как создать концепт-арт анимационного персонажа?
            a(href="#").news-card__comments
              i.news-card__comments-icon
                include ../../images/icons/comments-gray.svg
              | 12

          li.news-vertical__item
            .news-card__meta
              span.news-card__date 22.01
              a(href="#").news-card__category Анимация
            a(href="#").news-card__link В ответ на растущий спрос на специалистов в области анимации, учебные заведения разрабатывают все более ...
            a(href="#").news-card__comments
              i.news-card__comments-icon
                include ../../images/icons/comments-gray.svg
              | 8
          li.news-vertical__item
            .news-card__meta
              span.news-card__date 08.02
              a(href="#").news-card__category Анастасия Разина
            a(href="#").news-card__link Как создать концепт-арт анимационного персонажа?
            a(href="#").news-card__comments
              i.news-card__comments-icon
                include ../../images/icons/comments-gray.svg
              | 5
          li.news-vertical__item
            .news-card__meta
              span.news-card__date 10.01
              a(href="#").news-card__category Анимация
            a(href="#").news-card__link В ответ на растущий спрос на специалистов в области анимации, учебные заведения разрабатывают все более ...
            a(href="#").news-card__comments
              i.news-card__comments-icon
                include ../../images/icons/comments-gray.svg
              | 21
