section.section-news-grid.section-news-grid--3
  .container
    .section-news-grid__wrapper
      .news-banner.news-banner--colored(style="background-color: #E78944")
        a(href="#").news-banner__link
          span.news-banner__title.news-title-h2 Кто такой 2D аниматор?
        .news-banner__info.news-card__info
          span.news-card__date 10.01
          a(href="#").news-card__category Анимация

      +newscard("1.jpg", "10.01", "2D анимация", "Новая волна анимации: как технологии меняют мир мультфильмов", 125)
      +newscard("2.jpg", "10.01", "2D анимация", "Новая волна анимации: как технологии меняют мир мультфильмов", 125)
      +newscard("3.jpg", "10.01", "2D анимация", "Новая волна анимации: как технологии меняют мир мультфильмов", 125)
      +newscard("3.jpg", "10.01", "2D анимация", "Новая волна анимации: как технологии меняют мир мультфильмов", 125)
      +newscard("4.jpg", "10.01", "2D анимация", "Новая волна анимации: как технологии меняют мир мультфильмов", 125)

      //- article.news-card
      //-   .news-card__media
      //-     a(href="#").news-card__media-link
      //-       picture.news-card__picture
      //-         img.news-card__image(src="images/news/2.jpg" alt="Новая волна анимации: как технологии меняют мир мультфильмов")
      //-   .news-card__body
      //-     .news-card__info
      //-       span.news-card__date 10.01
      //-       a(href="#").news-card__category 2D анимация
      //-     a(href="#").news-card__link Новая волна анимации: как технологии меняют мир мультфильмов
      //-     a(href="#").news-card__comments
      //-       i.news-card__comments-icon
      //-         include ../../images/icons/comments-gray.svg
      //-       span.news-card__comments-count 125

      //- article.news-card
      //-   .news-card__media
      //-     a(href="#").news-card__media-link
      //-       picture.news-card__picture
      //-         img.news-card__image(src="images/news/3.jpg" alt="Новая волна анимации: как технологии меняют мир мультфильмов")
      //-   .news-card__body
      //-     .news-card__info
      //-       span.news-card__date 10.01
      //-       a(href="#").news-card__category 2D анимация
      //-     a(href="#").news-card__link Новая волна анимации: как технологии меняют мир мультфильмов
      //-     a(href="#").news-card__comments
      //-       i.news-card__comments-icon
      //-         include ../../images/icons/comments-gray.svg
      //-       span.news-card__comments-count 125

      //- article.news-card
      //-   .news-card__media
      //-     a(href="#").news-card__media-link
      //-       picture.news-card__picture
      //-         img.news-card__image(src="images/news/3.jpg" alt="Новая волна анимации: как технологии меняют мир мультфильмов")
      //-   .news-card__body
      //-     .news-card__info
      //-       span.news-card__date 10.01
      //-       a(href="#").news-card__category 2D анимация
      //-     a(href="#").news-card__link Новая волна анимации: как технологии меняют мир мультфильмов
      //-     a(href="#").news-card__comments
      //-       i.news-card__comments-icon
      //-         include ../../images/icons/comments-gray.svg
      //-       span.news-card__comments-count 125

      //- article.news-card
      //-   .news-card__media
      //-     a(href="#").news-card__media-link
      //-       picture.news-card__picture
      //-         img.news-card__image(src="images/news/4.jpg" alt="Новая волна анимации: как технологии меняют мир мультфильмов")
      //-   .news-card__body
      //-     .news-card__info
      //-       span.news-card__date 10.01
      //-       a(href="#").news-card__category 2D анимация
      //-     a(href="#").news-card__link Новая волна анимации: как технологии меняют мир мультфильмов
      //-     a(href="#").news-card__comments
      //-       i.news-card__comments-icon
      //-         include ../../images/icons/comments-gray.svg
      //-       span.news-card__comments-count 125

      //- article.news-card
      //-   .news-card__media
      //-     a(href="#").news-card__media-link
      //-       picture.news-card__picture
      //-         img.news-card__image(src="images/news/4.jpg" alt="Новая волна анимации: как технологии меняют мир мультфильмов")
      //-   .news-card__body
      //-     .news-card__info
      //-       span.news-card__date 10.01
      //-       a(href="#").news-card__category 2D анимация
      //-     a(href="#").news-card__link Новая волна анимации: как технологии меняют мир мультфильмов
      //-     a(href="#").news-card__comments
      //-       i.news-card__comments-icon
      //-         include ../../images/icons/comments-gray.svg
      //-       span.news-card__comments-count 125


      .news-banner.news-banner--vertical
        a(href="#").news-banner__link
          //img(src="images/vertical-banner-2.png").news-banner__image
          picture.news-banner__picture
            source(srcset="images/vertical-banner-2-320.png" media="(max-width: 570px)")
            img.news-banner__image(src="images/vertical-banner-2.png" alt="Забери курс")
