section.section-news-grid.section-news-grid--4
  .container
    .section-news-grid__wrapper
      article.news-card
        .news-card__media
          a(href="#").news-card__media-link
            picture.news-card__picture
              img.news-card__image(src="images/news/5.jpg" alt="Новая волна анимации: как технологии меняют мир мультфильмов")
        .news-card__body
          .news-card__info
            span.news-card__date 10.01
            a(href="#").news-card__category 2D анимация
          a(href="#").news-card__link Новая волна анимации: как технологии меняют мир мультфильмов
          a(href="#").news-card__comments
            i.news-card__comments-icon
              include ../../images/icons/comments-gray.svg
            span.news-card__comments-count 125
      article.news-card
        .news-card__media
          a(href="#").news-card__media-link
            picture.news-card__picture
              img.news-card__image(src="images/news/2.jpg" alt="Новая волна анимации: как технологии меняют мир мультфильмов")
        .news-card__body
          .news-card__info
            span.news-card__date 10.01
            a(href="#").news-card__category 2D анимация
          a(href="#").news-card__link Новая волна анимации: как технологии меняют мир мультфильмов
          a(href="#").news-card__comments
            i.news-card__comments-icon
              include ../../images/icons/comments-gray.svg
            span.news-card__comments-count 125
      article.news-card
        .news-card__media
          a(href="#").news-card__media-link
            picture.news-card__picture
              img.news-card__image(src="images/news/6.jpg" alt="Новая волна анимации: как технологии меняют мир мультфильмов")
        .news-card__body
          .news-card__info
            span.news-card__date 10.01
            a(href="#").news-card__category 2D анимация
          a(href="#").news-card__link Новая волна анимации: как технологии меняют мир мультфильмов
          a(href="#").news-card__comments
            i.news-card__comments-icon
              include ../../images/icons/comments-gray.svg
            span.news-card__comments-count 125
      article.news-card
        .news-card__media
          a(href="#").news-card__media-link
            picture.news-card__picture
              img.news-card__image(src="images/news/7.jpg" alt="Новая волна анимации: как технологии меняют мир мультфильмов")
        .news-card__body
          .news-card__info
            span.news-card__date 10.01
            a(href="#").news-card__category 2D анимация
          a(href="#").news-card__link Новая волна анимации: как технологии меняют мир мультфильмов
          a(href="#").news-card__comments
            i.news-card__comments-icon
              include ../../images/icons/comments-gray.svg
            span.news-card__comments-count 125
      article.news-card
        .news-card__media
          a(href="#").news-card__media-link
            picture.news-card__picture
              img.news-card__image(src="images/news/8.jpg" alt="Кто такой 2D аниматор?")
        .news-card__body
          .news-card__info
            span.news-card__date 10.01
            a(href="#").news-card__category 2D анимация
          a(href="#").news-card__link Кто такой 2D аниматор?
          a(href="#").news-card__comments
            i.news-card__comments-icon
              include ../../images/icons/comments-gray.svg
            span.news-card__comments-count 125
      article.news-card
        .news-card__media
          a(href="#").news-card__media-link
            picture.news-card__picture
              img.news-card__image(src="images/news/4.jpg" alt="Новая волна анимации: как технологии меняют мир мультфильмов")
        .news-card__body
          .news-card__info
            span.news-card__date 10.01
            a(href="#").news-card__category 2D анимация
          a(href="#").news-card__link Новая волна анимации: как технологии меняют мир мультфильмов
          a(href="#").news-card__comments
            i.news-card__comments-icon
              include ../../images/icons/comments-gray.svg
            span.news-card__comments-count 125
      .news-banner.news-banner--square
          a(href="#").news-banner__link
            //img(src="images/square-banner-1.png").news-banner__image
            picture.news-banner__picture
              source(srcset="images/square-banner-1-320.png" media="(max-width: 570px)")
              img.news-banner__image(src="images/square-banner-1.png" alt="Забери курс")
      article.news-card
        .news-card__media
          a(href="#").news-card__media-link
            picture.news-card__picture
              img.news-card__image(src="images/news/1.jpg" alt="Новая волна анимации: как технологии меняют мир мультфильмов")
        .news-card__body
          .news-card__info
            span.news-card__date 10.01
            a(href="#").news-card__category 2D анимация
          a(href="#").news-card__link Новая волна анимации: как технологии меняют мир мультфильмов
          a(href="#").news-card__comments
            i.news-card__comments-icon
              include ../../images/icons/comments-gray.svg
            span.news-card__comments-count 125
