section.section-news-grid
  .container
    .grid-wrapper
      .banner.banner--square(style="background-color: #E78944")
        a(href="#").banner__link
          span.banner__title.news-title-h2 Кто такой 2D аниматор?
          .banner__info.news-info
            span.news-info__date 10.01
            span.news-info__category Анимация
      article.news-card
        .news-media
          picture.news-media__picture
            img.news-media__image(src="images/news/1.jpg" alt="Новая волна анимации: как технологии меняют мир мультфильмов")
        .news-body
          .news-info
            span.news-info__date 10.01
            a(href="#").news-info__category 2D анимация
          a(href="#").news-link Новая волна анимации: как технологии меняют мир мультфильмов
          a(href="#").news-comments
            i.news-comments__icon
              include ../../images/icons/comments-gray.svg
            span.news-comments__count 125
      article.news-card
        .news-media
          picture.news-media__picture
            img.news-media__image(src="images/news/1.jpg" alt="Новая волна анимации: как технологии меняют мир мультфильмов")
        .news-body
          .news-info
            span.news-info__date 10.01
            a(href="#").news-info__category 2D анимация
          a(href="#").news-link Новая волна анимации: как технологии меняют мир мультфильмов
          a(href="#").news-comments
            i.news-comments__icon
              include ../../images/icons/comments-gray.svg
            span.news-comments__count 125
      article.news-card
        .news-media
          picture.news-media__picture
            img.news-media__image(src="images/news/1.jpg" alt="Новая волна анимации: как технологии меняют мир мультфильмов")
        .news-body
          .news-info
            span.news-info__date 10.01
            a(href="#").news-info__category 2D анимация
          a(href="#").news-link Новая волна анимации: как технологии меняют мир мультфильмов
          a(href="#").news-comments
            i.news-comments__icon
              include ../../images/icons/comments-gray.svg
            span.news-comments__count 125
      article.news-card
        .news-media
          picture.news-media__picture
            img.news-media__image(src="images/news/1.jpg" alt="Новая волна анимации: как технологии меняют мир мультфильмов")
        .news-body
          .news-info
            span.news-info__date 10.01
            a(href="#").news-info__category 2D анимация
          a(href="#").news-link Новая волна анимации: как технологии меняют мир мультфильмов
          a(href="#").news-comments
            i.news-comments__icon
              include ../../images/icons/comments-gray.svg
            span.news-comments__count 125
      article.news-card
        .news-media
          picture.news-media__picture
            img.news-media__image(src="images/news/1.jpg" alt="Новая волна анимации: как технологии меняют мир мультфильмов")
        .news-body
          .news-info
            span.news-info__date 10.01
            a(href="#").news-info__category 2D анимация
          a(href="#").news-link Новая волна анимации: как технологии меняют мир мультфильмов
          a(href="#").news-comments
            i.news-comments__icon
              include ../../images/icons/comments-gray.svg
            span.news-comments__count 125

      .banner.banner--vertical
          a(href="#").banner__link
            img(src="images/vertical-banner-2.png").banner__image
