section.vacancies
  .container
    .vacancies__wrapper
      .vacancies__overflow
        .vacancies__header Вакансии
        .swiper.vacancies__slider.js-vacancies-slider
            .swiper-wrapper
              .swiper-slide
                .vacancy
                  .vacancy__overlay
                  span.vacancy__organization RedNeck
                  span.vacancy__geo
                    i.vacancy__geo-icon
                      include ../../images/icons/navigate.svg
                    | г. Москва
                  p.vacancy__position 2D Artist / Illustrator (Red Neck)
                  span.vacancy__level Уровень: middle
                  span.vacancy__salary от 250 000 ₽
              .swiper-slide
                .vacancy
                  .vacancy__overlay
                  span.vacancy__organization Multiways
                  span.vacancy__geo
                    i.vacancy__geo-icon
                      include ../../images/icons/navigate.svg
                    | г. Москва
                  p.vacancy__position Моушен-дизайнер (Multiways)
                  span.vacancy__level Уровень: middle
                  span.vacancy__salary от 70 000 ₽
              .swiper-slide
                .vacancy
                  .vacancy__overlay
                  span.vacancy__organization FuryLion
                  span.vacancy__geo
                    i.vacancy__geo-icon
                      include ../../images/icons/navigate.svg
                    | Saint-Petersburg
                  p.vacancy__position JUNIOR / MIDDLE 3D ARTIST (FuryLion)
                  span.vacancy__level Уровень: middle
                  span.vacancy__salary по результатам собеседования
              .swiper-slide
                .vacancy
                  .vacancy__overlay
                  span.vacancy__organization FuryLion
                  span.vacancy__geo
                    i.vacancy__geo-icon
                      include ../../images/icons/navigate.svg
                    | Минск
                  p.vacancy__position 2D Artist (FuryLion)
                  span.vacancy__level Уровень: middle
                  span.vacancy__salary от 250 000 ₽
              .swiper-slide
                .vacancy
                  .vacancy__overlay
                  span.vacancy__organization RedNeck
                  span.vacancy__geo
                    i.vacancy__geo-icon
                      include ../../images/icons/navigate.svg
                    | г. Москва
                  p.vacancy__position 2D Artist / Illustrator (Red Neck)
                  span.vacancy__level Уровень: middle
                  span.vacancy__salary от 250 000 ₽

            .swiper-button-next.small-slider-button.small-slider-button--right.js-vacancies__slider-next
            .swiper-button-prev.small-slider-button.small-slider-button--left.js-vacancies__slider-prev
