extends ../layouts/default.pug
include ../includes/mixins.pug

block content
  main.main
    include ../sections/horizontal-banner.pug
    include ../sections/news-grid-1.pug
    include ../sections/news-grid-2.pug
    include ../sections/vacancies.pug
    include ../sections/categories-news.pug
    include ../sections/authors.pug
    include ../sections/courses.pug
    include ../sections/section-news-grid.pug
    include ../sections/last-week-news.pug


