extends ../layouts/default.pug
include ../includes/mixins.pug

block content
  main.main
    include ../sections/horizontal-banner.pug
    include ../sections/section-news-grid-1.pug
    include ../sections/section-news-grid-2.pug
    include ../sections/vacancies.pug
    include ../sections/categories-news.pug
    include ../sections/authors-1.pug
    include ../sections/courses.pug
    include ../sections/section-news-grid-3.pug
    include ../sections/last-week-news.pug
    include ../sections/section-news-grid-4.pug
    include ../sections/large-banner.pug
    include ../sections/authors-2.pug
  include ../sections/footer.pug


