doctype html
html(class="no-js" lang="")
  include ../includes/head.pug
  //include ../includes/scripts.pug

  body
    .wrapper
      block content
    include ../components/scroll-top.pug
    block scripts
      include ../includes/scripts.pug


