.news-banner {
  //min-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 18px;
  overflow: hidden;

  @include md-block {
    min-width: auto;
  }

  @include xs-block {
    min-width: 0;
    width: 100%;
    border-radius: 14px;

    &:first-child {
      //margin-bottom: 20px;
    }

    &:last-child {
      //margin-top: 20px;
    }

    // & + .news-card, & + div {
    //   margin-top: 20px;
    // }
  }

  &__link {
    display: block;
    height: 100%;
    width: 100%;
    word-break: break-word;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  &--horizontal {
    height: 130px;

    @include xs-block {
      height: 80px;
    }
  }

  &--vertical {
    //min-height: 834px;

    @include xs-block {
      min-height: 500px;
      //margin-bottom: 20px;
    }
  }

  &--square {
    max-width: 375px;
    max-height: 402px;

    @include xs-block {
      max-width: none;
    }
  }

  &--wide {
    .banner__image {
      object-position: left top;
    }
  }

  &--colored {
    position: relative;
    align-items: flex-start;
    justify-content: space-between;

    .news-banner__link {
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      @include xs-block {
        padding: 20px 20px 63px 20px;
      }
    }


    &:hover {
      .news-card__category {
        //transform: translateY(2px);
        //color: var(--purple);
        color: #fff;
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }

    .news-title-h2 {
      color: #fff;
    }

    .news-card {

      &__info {
        position: absolute;
        bottom: 30px;
        left: 30px;

        @include xs-block {
          left: 20px;
          bottom: 23px;
          font-size: 16px;
          line-height: 130%;
        }
      }

      &__date {
        color: #fff;

        &::before {
          background-color: #fff;
        }
      }

      &__category {
        color: #fff;

        &:hover {
          //color: var(--purple);
          color: #fff;
          opacity: 1;
        }
      }
    }
  }
}
