.news-title-h1, .news-title-h2, .news-title-h3, .news-title-h4 {
  font-family: var(--ff-title);
  font-weight: 700;
  color: var(--dark);
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}

.news-title-h1 {
  font-size: 35px;
  line-height: 130%;
}

.news-title-h2 {
  font-size: 30px;
  line-height: 120%;
}

.news-title-h3 {
  font-size: 25px;
  line-height: 120%;
}

.news-title-h4 {
  font-size: 18px;
  line-height: 120%;
}



.button-primary {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 18px 26px;
  min-width: none;
  font-family: var(--ff-button);
  font-weight: 500;
  color: #fff;
  line-height: 29px;
  letter-spacing: 0;
  border-radius: 300px;
  background-color: var(--dark);
  overflow: hidden;
  text-decoration: none;
  transition: all .3s ease;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;



  &::after {
    display: block;
    content: '';
    height: 20.24px;
    width: 20.24px;
    border-radius: 7.12px;
    background-color: var(--yellow);
    background-image: url('../images/icons/black-right-arrow.svg');
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 10.57px;
    transition: all .3s ease;
  }

  &:hover {
    background-color: #111;
  }

  &--yellow {
    background-color: var(--yellow);
    color: var(--dark);

    &:hover {
      background-color: #F8B12D;
    }


    &::after {
      background-color: var(--dark);
      background-image: url('../images/icons/white-right-arrow.svg');
    }
  }

  &--white {
    background-color: #fff;
    color: var(--dark);

    &:hover {
      background-color: #fff;
    }


    &::after {
      background-color: var(--dark);
      background-image: url('../images/icons/white-right-arrow.svg');
    }
  }

  &--transparent {
    background-color: transparent;
    color: var(--dark);

    &:hover {
      color: var(--purple);
      background-color: transparent;

      &::after {
        background-color: var(--purple);
      }
    }


    &::after {
      background-color: var(--dark);
      background-image: url('../images/icons/white-right-arrow.svg');
    }
  }


  &--disabled, &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &--white-icon {
    &::after {
      background-image: url('../images/icons/black-right-arrow.svg');
      background-color: #fff;
    }
  }
}

.large-slider-button {
  display: flex;
  height: 102px;
  width: 102px;
  content: '';
  border-radius: 100%;
  background-color: var(--yellow);
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &::after {
    display: block;
    content: '';
    height: 40px;
    width: 40px;
    background-image: url('../images/icons/doubble-black-right-arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--left {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.medium-slider-button {
  display: flex;
  height: 70px;
  width: 70px;
  content: '';
  border-radius: 100%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 20px 0 rgba($color: #374451, $alpha: 0.15);
  transition: all .3s ease;

  &:hover {
    background-color: var(--yellow);
  }

  &::after {
    display: block;
    content: '';
    height: 40px;
    width: 40px;
    background-image: url('../images/icons/single-black-right-arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--left {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.small-slider-button {
  display: flex;
  height: 37px;
  width: 37px;
  content: '';
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3s ease;
  background-color: transparent;

  &:hover {
    background-color: var(--yellow);
  }

  &::after {
    display: block;
    content: '';
    height: 19px;
    width: 11px;
    background-image: url('../images/icons/single-black-right-arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
    transform: translateX(2px);
  }

  &--left {
    &::after {
      transform: translateX(-2px) rotate(180deg);
    }
  }
}
