:root {
  --c-text-regular: #373737;
  --ff-regular: "Inter", sans-serif;
  --bg-dark: #222;
  --c-text-on: #fff;
  --ff-title: "Craftwork", sans-serif;
  --base-size: 1vw;
  --ff-button: "Vela Sans", sans-serif;
  --ff-gilroy: "Gilroy", sans-serif;
}
