:root {
  --yellow: #E7AE44;
  --dark: #222;
  --gray-bg: #F4F5F6;
  --blue: #294FD6;
  --purple: #7241FF;

  --ff-regular: "Inter", sans-serif;
  --ff-title: "Craftwork", sans-serif;
  --ff-button: "Vela Sans", sans-serif;
  --ff-gilroy: "Gilroy", sans-serif;
}
