%svg-common {
    background: url("../images/icons/sprite.svg") no-repeat;
}

.svg-icon--black-right-arrow {
    @extend %svg-common;
    background-position: 95.89041095890411% 27.272727272727273%;
    width: 15px;
    height: 13px;
}

.svg-icon--clock {
    @extend %svg-common;
    background-position: 100% 0;
    width: 18px;
    height: 18px;
}

.svg-icon--comments {
    @extend %svg-common;
    background-position: 71.21212121212122% 35.08771929824562%;
    width: 22px;
    height: 22px;
}

.svg-icon--comments-gray {
    @extend %svg-common;
    background-position: 0 39.285714285714285%;
    width: 23px;
    height: 23px;
}

.svg-icon--comments-purple {
    @extend %svg-common;
    background-position: 36.92307692307692% 0;
    width: 23px;
    height: 23px;
}

.svg-icon--comments-white {
    @extend %svg-common;
    background-position: 36.92307692307692% 40.35087719298246%;
    width: 23px;
    height: 22px;
}

.svg-icon--doubble-black-right-arrow {
    @extend %svg-common;
    background-position: 0 0;
    width: 24px;
    height: 22px;
}

.svg-icon--navigate {
    @extend %svg-common;
    background-position: 64.28571428571429% 75%;
    width: 18px;
    height: 19px;
}

.svg-icon--pausesvg {
    @extend %svg-common;
    background-position: 72.3076923076923% 0;
    width: 23px;
    height: 20px;
}

.svg-icon--play-black {
    @extend %svg-common;
    background-position: 93.33333333333333% 47.69230769230769%;
    width: 13px;
    height: 14px;
}

.svg-icon--play-black-large {
    @extend %svg-common;
    background-position: 0 78.94736842105263%;
    width: 19px;
    height: 22px;
}

.svg-icon--play-white {
    @extend %svg-common;
    background-position: 93.33333333333333% 69.23076923076923%;
    width: 13px;
    height: 14px;
}

.svg-icon--single-black-right-arrow {
    @extend %svg-common;
    background-position: 25.333333333333332% 77.58620689655173%;
    width: 13px;
    height: 21px;
}

.svg-icon--single-white-right-arrow {
    @extend %svg-common;
    background-position: 42.666666666666664% 77.58620689655173%;
    width: 13px;
    height: 21px;
}

.svg-icon--white-right-arrow {
    @extend %svg-common;
    background-position: 0 100%;
    width: 14px;
    height: 12px;
}

